@font-face {
  font-family: bold;
  src: url(./fonnts.com-Aeonik-Bold.ttf);
}
@font-face {
  font-family: normal;
  src: url(./fonnts.com-Aeonik-Regular.ttf);
}

//root variable
:root {
  --pri: #fcdec0;
  --sec: #b4846c;
  --tre1: #e5b299;
  --tre2: #7d5a50;
  --uptone: white;

  --todo-pre: #005461;
  --todo-sec: #018790;
  --todo-tre1: #00b7b5;
  --todo-tre2: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--pri);
  font-family: bold;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background: var(--sec);

  .allelem {
    height: 100%;
    width: 100%;
    padding: 20px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: absolute;

    justify-content: space-between;

    gap: 20px;

    .elem {
      background-color: var(--tre2);
      overflow: hidden;
      border-radius: 20px;
      height: 300px;
      position: relative;
      flex-grow: 1;
      transition: all 0.2s ease;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      h1 {
        position: absolute;
        bottom: 2%;
        right: 2%;
        font-size: 25px;

        font-family: normal;
        text-transform: uppercase;
        font-weight: 900;
        color: var(--uptone);
      }
    }
    :hover.elem {
      scale: 102%;
    }

    .elem:active {
      scale: 0.97;
    }
  }
  .fullelem {
    height: 100%;
    width: 100%;
    font-weight: 200;
    background: khaki;
    font-size: 30px;
    display: none;
    position: absolute;
  }
  .todo-page-full {
    display: block;
    background: var(--todo-sec);
    height: 100%;
    width: 100%;
    h3 {
      text-align: center;
      text-transform: uppercase;
      font-family: normal;
      font-size: 3rem;
    }

    .todo-contaner {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      padding: 20px;
      height: 80%;
      .addtodo {
        background: var(--todo-pre);
        width: 30%;
        height: 100%;
        border-radius: 20px;
        padding: 20px;
        form {
          display: flex;
          height: 100%;
          width: 100%;
          flex-direction: column;
          justify-content: space-around;
          gap: 10px;

          input {
            width: 100%;
            padding: 5px;
            text-transform: capitalize;
            font-size: 30px;
            border-radius: 5px;
            background: var(--todo-tre1);
            border: none;
            outline: none;
          }
          textarea {
            width: 100%;
            padding: 5px;
            text-transform: capitalize;
            font-size: 30px;
            border-radius: 5px;
            background: var(--todo-tre1);
            border: none;
            outline: none;
          }
          .markimp {
            display: flex;
            width: 30%;
            gap: 10px;
            label {
              font-size: 19px;
              white-space: nowrap;
            }
          }

          button {
            width: 100%;
            padding: 5px;
            text-transform: uppercase;
            font-size: 30px;
            border-radius: 5px;
            background: var(--tre2);
            border: none;
            transition: all ease-in-out 0.5s;
          }
          button:active {
            scale: 0.98;
          }
        }
      }

      .showtodo::-webkit-scrollbar {
        display: none;
      }
      .showtodo {
        background: var(--todo-pre);
        width: 70%;
        height: 100%;
        border-radius: 20px;
        padding: 10px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 9px;

        .taskso{
          background: var(--todo-tre2);
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          align-items: start;
          padding: 10px;
          #left{
            display: flex;
            flex-direction: column;
            gap: 5px;
            h2{
              color: var(--todo-pre);
              text-transform: capitalize;
              display: flex;
              font-size: 35px;
              align-items: center;
              gap: 10px;
              span{
                font-size: 10px;
                background: red;
                border-radius: 10px;
                padding: 5px 10px;
  
              }
            }

  
            .true{
              opacity: 1;
            }
            .false{
              opacity: 0;
            }

            p{
              font-size: 15px;
              color: var(--todo-pre);
            }

          }
          


         
        }


      }

      button {
        background: crimson;
        border-radius: 10px;
        padding: 5px 10px;
        text-transform: uppercase;
      }
    }
  }
}
