@font-face {
  font-family: bold;
  src: url(./fonnts.com-Aeonik-Bold.ttf);
}
@font-face {
  font-family: normal;
  src: url(./fonnts.com-Aeonik-Regular.ttf);
}
:root {
  --pri: #fcdec0;
  --sec: #b4846c;
  --tre1: #e5b299;
  --tre2: #7d5a50;
  --uptone: white;
  --todo-pre: #005461;
  --todo-sec: #018790;
  --todo-tre1: #00b7b5;
  --todo-tre2: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--pri);
  font-family: bold;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background: var(--sec);
}
#main .allelem {
  height: 100%;
  width: 100%;
  padding: 20px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: absolute;
  justify-content: space-between;
  gap: 20px;
}
#main .allelem .elem {
  background-color: var(--tre2);
  overflow: hidden;
  border-radius: 20px;
  height: 300px;
  position: relative;
  flex-grow: 1;
  transition: all 0.2s ease;
}
#main .allelem .elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .allelem .elem h1 {
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-size: 25px;
  font-family: normal;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--uptone);
}
#main .allelem :hover.elem {
  scale: 102%;
}
#main .allelem .elem:active {
  scale: 0.97;
}
#main .fullelem {
  height: 100%;
  width: 100%;
  font-weight: 200;
  background: khaki;
  font-size: 30px;
  display: none;
  position: absolute;
}
#main .todo-page-full {
  background: var(--todo-sec);
  height: 100%;
  width: 100%;
}
#main .todo-page-full h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: normal;
  font-size: 3rem;
}
#main .todo-page-full .todo-contaner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: 80%;
}
#main .todo-page-full .todo-contaner .addtodo {
  background: var(--todo-pre);
  width: 30%;
  height: 100%;
  border-radius: 20px;
  padding: 20px;
}
#main .todo-page-full .todo-contaner .addtodo form {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
#main .todo-page-full .todo-contaner .addtodo form input {
  width: 100%;
  padding: 5px;
  text-transform: capitalize;
  font-size: 30px;
  border-radius: 5px;
  background: var(--todo-tre1);
  border: none;
  outline: none;
}
#main .todo-page-full .todo-contaner .addtodo form textarea {
  width: 100%;
  padding: 5px;
  text-transform: capitalize;
  font-size: 30px;
  border-radius: 5px;
  background: var(--todo-tre1);
  border: none;
  outline: none;
}
#main .todo-page-full .todo-contaner .addtodo form .markimp {
  display: flex;
  width: 30%;
  gap: 10px;
}
#main .todo-page-full .todo-contaner .addtodo form .markimp label {
  font-size: 19px;
  white-space: nowrap;
}
#main .todo-page-full .todo-contaner .addtodo form button {
  width: 100%;
  padding: 5px;
  text-transform: uppercase;
  font-size: 30px;
  border-radius: 5px;
  background: var(--tre2);
  border: none;
  transition: all ease-in-out 0.5s;
}
#main .todo-page-full .todo-contaner .addtodo form button:active {
  scale: 0.98;
}
#main .todo-page-full .todo-contaner .showtodo::-webkit-scrollbar {
  display: none;
}
#main .todo-page-full .todo-contaner .showtodo {
  background: var(--todo-pre);
  width: 70%;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
#main .todo-page-full .todo-contaner .showtodo .taskso {
  background: var(--todo-tre2);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
}
#main .todo-page-full .todo-contaner .showtodo .taskso #left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#main .todo-page-full .todo-contaner .showtodo .taskso #left h2 {
  color: var(--todo-pre);
  text-transform: capitalize;
  display: flex;
  font-size: 35px;
  align-items: center;
  gap: 10px;
}
#main .todo-page-full .todo-contaner .showtodo .taskso #left h2 span {
  font-size: 10px;
  background: red;
  border-radius: 10px;
  padding: 5px 10px;
}
#main .todo-page-full .todo-contaner .showtodo .taskso #left .true {
  opacity: 1;
}
#main .todo-page-full .todo-contaner .showtodo .taskso #left .false {
  opacity: 0;
}
#main .todo-page-full .todo-contaner .showtodo .taskso #left p {
  font-size: 15px;
  color: var(--todo-pre);
}
#main .todo-page-full .todo-contaner button {
  background: crimson;
  border-radius: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
}
#main .dailyplanerfullpage {
  display: block;
  background: var(--tre2);
  padding: 5px;
}
#main .dailyplanerfullpage h2 {
  font-size: 50px;
  padding: 5px;
}
#main .dailyplanerfullpage .dailyshediv {
  height: 83%;
  background: var(--sec);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
  padding: 10px;
}
#main .dailyplanerfullpage .dailyshediv .dayplanertime {
  display: flex;
  background: var(--tre1);
  width: 49%;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 10px;
  height: -moz-fit-content;
  height: fit-content;
}
#main .dailyplanerfullpage .dailyshediv .dayplanertime p {
  font-size: 20px;
  white-space: nowrap;
}
#main .dailyplanerfullpage .dailyshediv .dayplanertime input {
  width: 100%;
  background: none;
  outline: none;
  border: none;
}/*# sourceMappingURL=style.css.map */